@import 'colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--secondColor);
	font-family: 'Lato', sans-serif;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.layout {
	position: relative;
	background-color: var(--mainColor);
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
}

.firstColumn {
	position: relative;
	display: flex;
	width: 15%;
	background-color: var(--second-color);
	flex-direction: column;
	min-width: 220px;
	margin-right: 5px;
	height: 100%;
}
.applicationInfo {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	//background-color: $thirdColor;
	height: 200px;
}

.menu {
	justify-content: center;
	display: flex;
	width: 100%;
	overflow: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	.btnMenu {
		position: relative;
		height: 50px;
		width: 150px;
		margin-top: 10px;
		border-radius: 5px;
		cursor: pointer;
		background-color: var(--secondColor);
		border: none;
		color: var(--fontColor);
		box-shadow: 0 0 10px rgb(22, 10, 10);
	}
	.btnMenu:hover {
		font-size: 20px;
		scale: 1.1;
		color: var(--fontColor);
	}

	.btnMenu:active {
		background-color: #d3f4d4;
		box-shadow: 0 3px #666;
		transform: translateY(2px);
	}
}

.secondColumnStyle {
	position: relative;
	//background-color: var(--thirdColor);
	display: flex;
	flex-direction: column;
	width: 30%;
	min-width: 250px;
	min-height: 100vh;
	padding: 8px;
	box-shadow: 0px 0px 5px rgba(22, 10, 10, 0.8);

	//padding: 10px;
	//margin-left: 5px;
	.templateStyle {
		margin-top: 60px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		//background-color: red;
		//height: 200px;
		border-radius: 5px;
		.fa-trash {
			//margin-left: 40px;
			color: var(--second-color);
			margin-left: 40px;
			cursor: pointer;
		}
		.fa-trash:hover {
			color: brown;
			box-shadow: 0 0 10px rgb(221, 122, 122);
		}
	}

	.underline {
		margin-top: 10px;
		position: relative;
		width: 100%;
		background-color: var(--unerlineColor);
		height: 5px;
		border-radius: 5px;
		margin-bottom: 15px;
	}
	.priceSite {
		margin-top: 60px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		background-color: var(--unerlineColor);
		height: 200px;
		border-radius: 5px;
		color: var(--fontColor);
	}
	#savedTemplates {
		position: relative;
		width: 100%;
		height: 30px;
		background-color: var(--secondColor);
		border-radius: 5px;
		border: none;
		color: var(--fontColor);
		margin-top: 10px;
		box-shadow: 0 0 10px rgb(22, 10, 10);
		font-size: 15px;
	}
}
.arrow {
	align-self: flex-end;
	cursor: pointer;
	i {
		padding: 10px;
		color: black;
		font-size: 50px;

		color: var(--secondColor);
		border-radius: 50%;
	}
	i:hover {
		color: rgb(60, 54, 54);
		box-shadow: 0 0 10px rgb(121, 117, 117);
	}
	
}


.firstSection {
	margin-top: 60px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	background-color: var(--secondColor);
	height: 200px;
	border-radius: 5px;
}

.btnsTemp {
	margin: 2px;
	margin-top: 10px;
}
.btnTemplate {
	position: relative;
	width: 100px;
	height: 30px;
	background-color: var(--secondColor);
	border: none;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	color: var(--fontColor);
	box-shadow: 0 0 5px rgb(128, 123, 123);
}
.btnTemplate:hover {
	box-shadow: 0 0 10px rgb(221, 122, 122);
}
input {
	text-align: center;
}

.date {
	position: relative;
	width: 200px;
	height: 40px;
	background-color: var(--secondColor);
	color: var(--fontColor);
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 15px;
}
.inputTitle {
	position: relative;
	height: 50px;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 5px;
	border: none;
	background-color: var(--secondColor);
	color: var(--fontColor);
}
.inputMessage {
	padding-top: 20px;
	position: relative;
	min-height: 200px;
	width: 100%;
	max-width: 100%;
	border-radius: 5px;
	border: none;
	word-wrap: break-word;
	background-color: var(--secondColor);
	color: var(--fontColor);
	text-align: center;
}
.btnPrint {
	position: relative;
	height: 50px;
	width: 200px;
	font-size: 15px;
	border-radius: 5px;
	background-color: var(--unerlineColor);
	border: none;
	align-items: center;
	color: var(--fontColor);
}
.btnsView {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	margin: 10px;
}
h4 {
	color: var(--fontColor);
}

.thirdColumn {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	background-color: var(--secondColor);
	padding: 5px;
	.thirdLayout {
		position: relative;
		//width: 100%;
		//height: 100%;
	}

	.thirdLayoutStyle {
		display: flex;
		flex-direction: column;
		position: relative;
		//width: 100%;
		min-height: 100vh;
		//background-color: var(--mainColor);
		padding: 5px;
		padding: 30px;
	}
	.printViewStyle {
		position: relative;
		//width: 100%;
		min-height: 300px;
		background-color: var(--secondColor);
		border-radius: 5px;
		margin: 10px;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		box-shadow: 0 0 10px rgb(128, 123, 123);

		p {
			text-align: center;
		}

		.titleView {
			margin: 5px;
			text-transform: uppercase;
			text-justify: inter-word;
			font-size: 22px;
			color: var(--fontColor);
		}
		.messageView {
			position: relative;
			margin-top: 10px;
			padding: 10px;
			font-size: 18px;
			//width: 100vw;
			word-wrap: break-word;
			color: var(--fontColor);
		}
	}
	.view {
		display: flex;
	}
}
textarea {
	position: relative;
	max-width: 100%;
	max-height: 50vh;
	//height: 30px;
	background-color: var(--secondColor);
}
.btnPrint2 {
	position: relative;
	height: 50px;
	width: 150px;

	border-radius: 5px;
	cursor: pointer;
	background-color: var(--mainColor);
	border: none;
	color: var(--fontColor);
	box-shadow: 0 0 10px rgb(128, 123, 123);
}
.btnPrint2:hover {
	box-shadow: 0 0 10px rgb(221, 122, 122);
}
p.date {
	display: flex;
	width: 150px;
	height: 50px;
	margin-top: 10px;
	justify-content: center;
	align-items: center;
	color: var(--fontColor);
	font-size: 20px;
}
.mainStyle {
	position: relative;
	width: auto;
	height: auto;
	min-height: 300px;
	background-color: var(--secondColor);
	border-radius: 5px;
	margin: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}
.heroBG {
	position: absolute;
	height: 100%;
	width: 100%;
	//background-image: url(../img/main.jpg);
	border-radius: 10px;
	z-index: 0;
}
.shadow-bg {
	//background-color: rgba(230, 243, 239, 0.7);
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	

	//z-index: 0;
}
h2 {
	z-index: 5;
	font-size: 50px;
	color: var(--second-color);
}
.popupSaveTemplate {
	//display: flex;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px 0;
	width: 600px;

	background-color: var(--mainColor);
	box-shadow: 0 0 10px black;
	border-radius: 5px;

	#titleTemplate {
		margin-bottom: 20px;
		padding: 10px 20px;
		width: 100%;
		max-width: 90%;
		max-height: 600px;
		font-size: 20px;
		border-radius: 5px;
		border: 1px solid black;
	}
	label {
		margin-bottom: 10px;
		color: var(--fontColor);
	}
	h4 {
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	.error {
		margin-bottom: 20px;
		color: red;
		visibility: hidden; //bedziemy sterowac błędem w js
	}
	.icon,
	i {
		margin-right: 10px;
		font-size: 18px;
	}
	button {
		padding: 12px 25px;
		background: none;
		border: 1px solid #999;
		border-radius: 5px;
		font-size: 14px;
		cursor: pointer;
		transition: bacground-color 0.3s, color 0.3s;
		transition: scale 0.3s, font-size 0.3s;
		color: var(--fontColor);
		background-color: var(--secondColor);
	}
	button:hover {
		box-shadow: 0 0 10px rgb(221, 122, 122);
	}
}
.errorForm {
	margin-top: 20px;
	margin-bottom: 20px;
	color: red;
	visibility: hidden; //bedziemy sterowac błędem w js
}

.popupDeletetemplate {
	display: none;
	position: relative;
	//display: flex;
	//display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 10px;
	background-color: #fff;
	box-shadow: 0 0 10px black;
	border-radius: 5px;
	min-width: 80%;
	button {
		padding: 8px 15px;
		background: none;
		border: 1px solid #999;
		border-radius: 5px;
		font-size: 12px;
		cursor: pointer;
		transition: bacground-color 0.3s, color 0.3s;
	}
	i {
		margin-right: 7px;
		font-size: 20px;
		color: #666;
	}
	i:hover {
		color: brown;
		box-shadow: 0 0 10px rgb(221, 122, 122);
	}
	.check1 {
		display: flex;
	}
	.panel-buttons-list {
		display: flex;
		margin: 10px;

		button {
			display: flex;
			margin: 3px;
			min-width: 90px;
			align-items: center;
			justify-content: center;
			align-self: center;
			justify-self: center;
			font-size: 14px;
		}
		i {
			color: rgb(104, 71, 78);
		}
	}

	h4 {
		margin-bottom: 5px;
	}
	i {
		cursor: pointer;
		padding-left: 5px;
	}
}
